{% extends "base-ui.html.twig" %}

{% block pre_head %}
    <style type="text/css">
        body{
            display:none;
        }
    </style>
{% endblock %}

{% set javascripts=["combobox.js","login.js"] %}
{% set stylesheets=["combobox.css"] %}

{% block body %}
    <h1>Theros</h1>

    <p>Plate-forme d'encodage des points des Remises à Niveau et Travaux de Vacances</p>

    <div class="margin">
        <div class="inline valign-middle">
            <img src="{{asset("img/logo.png")}}" style="height:4em" class="valign-middle" />
        </div>
        <div class="inline valign-middle">
            Institut Saint-Dominique<br/>
            Rue Caporal Claes, 38<br/>
            1030 Scharbeek
        </div>
    </div>

    <p>
        Année Scolaire 2015-2016
    </p>

    <h2>Identification</h2>

    {% if app.session.flashbag.get("bad_password") %}
    <p class="error">
        Mot de passe incorrect
    </p>
    {% endif %}

    <form method="POST">
    <p>
        <label>Entrez votre nom</label><br/>
        <select id="cbTeacher" style="display:none" name="teacherId">
            {% for t in teachers %}
                <option value="{{t.id}}">{{t.fullname}}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>Entrez votre mot de passe</label><br/>
        <input type="password" id="tbPassword" name="password" class="ui-corner-all ui-widget-content custom-combobox-input"/>
    </p>
    <p>
        <input id="bSubmit" type="submit" value="Envoyer" name="submit"/>
    </p>
    </form>

{% endblock %}
