{% extends "base.html.twig" %}

{% block body %}

    <h1>Initialisation du mot de passe</h1>

    <p>Comme c'est la première fois que vous vous connectez, nous vous demandons de vous choisir un mot de passe</p>

{% endblock %}
