.custom-ui-textfield
{
    font-weight:normal;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor:text;
    background:white;
}

textarea.custom-ui-textfield
{
    padding:5px;
}

