body { background: #FFCB7D; font: 18px/1.5 sans-serif; }
h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
p, div.margin { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:hover { text-decoration: none; }

p.error {
    font-weight:bold;
    color:red;
}

.inline { display:inline-block; }
.valign-middle { vertical-align:middle; }

table.standardTable {
    border-collapse:collapse
}

table.standardTable.zebra tr:nth-child(odd) {
    background-color:white;
}

table.standardTable.zebra tr:nth-child(even) {
    background-color:#a3d1ff;
}

table.standardTable tr:nth-child(1)
, table.standardTable.zebra tr:nth-child(1)
{
    background-color:#cccccc
}

table.standardTable td, table.standardTable th {
    border: 1pt solid black;
    padding: 5px;
}
