{% extends "base.html.twig" %}

{% block body %}
    <h1>Encodage des résultats</h1>
    <h2>Professeur: {{teacher.fullname}}</h2>
    <p>Cette page vous permet d'encoder les résultats pour les travaux de vacances ou remises à niveau:</p>
    <ul>
        <li>qui vous sont assignés</li>
        <li>ou qui concernent (potentiellement) un de vos cours.</li>
    </ul>
    <h2>Liste de travaux</h2>
    {% if not works %}
        <p>Il n'y a aucun travail vous concernant.</p>
    {% else %}
    {% endif %}

{% endblock %}
