{% extends "base-ui.html.twig" %}

{% set javascripts=["init_password.js"] %}

{% block body %}

    <h1>Initialisation du mot de passe</h1>

    <p>Comme c'est la première fois que vous vous connectez, nous vous demandons de vous choisir un mot de passe</p>
    <form method="POST">
        <p>
        <table>
            <tr>
                <td>
                    <label for="tbPassword" >Entrez un nouveau mot de passe: </label>
                </td>
                <td>
                    <input id="tbPassword" type="password" name="password" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="tbConfirm" >Confirmez votre mot de passe: </label>
                </td>
                <td>
                    <input id="tbConfirm" type="password" name="confirm"/>
                </td>
            </tr>
        </table>
        </p>
        <p>
            <input id="bSubmit" type="submit" class="custom-ui-button" value="OK" name="submit" />
        </p>
    </form>

{% endblock %}
